/*
HOME PAGE STYLING
https://www.w3schools.com/w3css/4/w3.css

FORM STYLING
http://www.w3.org/1999/xhtml

OVERALL PAGE SYTLING
https://www.w3schools.com/w3css/4/w3.css
*/


/*NAV BAR STYLING*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
