@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #f4f4f4;
  font-size: 20px;
}

.karla {
  font-family: 'Karla', sans-serif;
}

input[type=submit], input[type=text], input[type=number], input[type=password] {
  font-family: 'Karla';
  font-size: 20px;
}

option, select {
  font-family: 'Karla';
  font-size: 20px;
}

.green-bg {
  background-color: #76b852;
}

.gray-bg {
  background-color: #f4f4f4;
}

.gray-text {
  color: #757575;
}

.box {
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

table {
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Karla', sans-serif;
  background-color: white;
}

table td, table th {
  border-left: 1px solid #838383;/*  inner column border */
  border-width: 0 0 0 1px;
  margin: 0;
  padding: 0.5em 1em;
}

thead {
  background-color: #d3d3d3;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.menu-button input[type=submit] {
  background-color: #76b852;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 20px;
}

.menu-button input[type=submit]:hover {
  background-color: #76b852;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-size: 20px;
}